.nav {
    height: 70px;
    padding: auto;
    background: #004280;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 8px 13px;
    font-size: 0.9rem;
  }

  @media (max-width: 600px) {
    .nav ul li a {
      margin: 8px 10px;
      font-size: 0.8rem;
    }
  }